In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

### Python lists are 0-indexed:

| Index       | Table                               |
| ----------- | ----------------------------------- |
| `tables[0]` | Largest banks by total assets       |
| `tables[1]` | **Banks by country or territory** âœ… |
| `tables[2]` | Next table                          |


* tables[0] â†’ 1st table (largest banks by assets)
* tables[1] â†’ 2nd table (banks by country)
* tables[2] â†’ next table
...

In [2]:
import requests

URL = "https://en.wikipedia.org/wiki/List_of_largest_banks"

headers = {
    "User-Agent": "Mozilla/5.0"
}

response = requests.get(URL, headers=headers)
tables = pd.read_html(response.text)

df = tables[0]
df.head()

/tmp/ipykernel_17/1597521798.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(response.text)

,Rank,Bank name,Total assets (2025) (US$ billion)
0,1,Industrial and Commercial Bank of China,6688.74
1,2,Agricultural Bank of China,5923.76
2,3,China Construction Bank,5558.38
3,4,Bank of China,4803.51
4,5,JPMorgan Chase,4002.81

In [3]:
import pandas as pd
import requests

URL = "https://en.wikipedia.org/wiki/List_of_largest_banks"

headers = {
    "User-Agent": "Mozilla/5.0"
}

# Step 1: Get HTML content (browser-like request)
response = requests.get(URL, headers=headers)

# Step 2: Read ALL tables from the page
tables = pd.read_html(response.text)

# Step 3: Select the 2nd table (index starts from 0)
df_country = tables[1]

# Step 4: Display the table
df_country.head()

/tmp/ipykernel_17/2375734356.py:14: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(response.text)

   Rank        Country  Number
0     1          China      21
1     2  United States      13
2     3          Japan       8
3     4         Canada       6
4     4         France       6

In [4]:
len(tables)

3

## ðŸ§  Why This Code Works (Step-by-Step Explanation)

---

### ðŸ”¹ Step 1: Use `requests` with headers

```python
response = requests.get(URL, headers=headers)

### Why this is needed:

* Wikipedia blocks non-browser requests

* Pandasâ€™ default request does not send browser headers

* User-Agent: Mozilla/5.0 makes the request look like a real browser

### ðŸ“Œ This is why the previous error disappeared and the code worked successfully âœ…

### ðŸ”¹ Step 2: pd.read_html(response.text)
 
tables = pd.read_html(response.text)


## What Pandas does here:

* Scans the entire HTML page

* ``` python
  Finds every <table> tag

* Converts each table into a Pandas DataFrame

* Stores all tables inside a Python list

### ðŸ“Œ Result: tables is a list of DataFrames